body{
    background-color:wheat;
}
nav{
    background-color: teal;
    padding: 10px;
}
a{
    color: white;
    padding: 10px;
    text-decoration: none;
}
a:hover{
    background-color: white;
    color: teal;
}
.A{
    width: 500px;
    height: 300px;
}
.B{
    padding: 10px;
}

