.A{
    background-color: rgb(243, 209, 165);  
}
.C{
    border-radius: 0px 0px 20px 20px ;
    
}
.D{
    border: 2px solid black;
}
.E{
    
    border: 2px solid black;
}
.F{
    border:2px solid black;
}
.G{
    border:1px solid black;
}
.H{
    text-align: center;
}
